
/* IMPORTAR FUENTES */
@font-face {
    font-family: 'CarmenSansLight';
    src: local('CarmenSansLight'), url(../fonts/CarmenSansLight.otf) format('truetype');
}

@font-face {
    font-family: 'CarmenSansThin';
    src: local('CarmenSansThin'), url(../fonts/CarmenSansThin.otf) format('truetype');
}

@font-face {
    font-family: 'CarmenSansUltraLight';
    src: local('CarmenSansUltraLight'), url(../fonts/CarmenSanUltraLight.otf) format('truetype');
}

@font-face {
    font-family: 'CarmenSansRegular';
    src: local('CarmenSansRegular'), url(../fonts/CarmenSansRegular.otf) format('truetype');
}

@font-face {
    font-family: 'CarmenSansMedium';
    src: local('CarmenSansMedium'), url(../fonts/CarmenSansMedium.otf) format('truetype');
}

@font-face {
    font-family: 'CarmenSansSemiBold';
    src: local('CarmenSansSemiBold'), url(../fonts/CarmenSansSemiBold.otf) format('truetype');
}

@font-face {
    font-family: 'CarmenSansHeavy';
    src: local('CarmenSansHeavy'), url(../fonts/CarmenSansHeavy.otf) format('truetype');
}


@font-face {
    font-family: 'CarmenSansBold';
    src: local('CarmenSansBold'), url(../fonts/CarmenSansBold.otf) format('truetype');
}

@font-face {
    font-family: 'CarmenSansExtraBold';
    src: local('CarmenSansExtraBold'), url(../fonts/CarmenSansExtraBold.otf) format('truetype');
}

body {
    background: #fff;
    color: #666666;
    font-family: "CarmenSansRegular", sans-serif;
    scroll-behavior: smooth;
}


#header.header-transparent {
    background: transparent;
}

#header {
    height: 115px;
    transition: all 0.5s;
    z-index: 997;
    background: rgba(52, 59, 64, 0.9);
}

#header a {
    color: #fff;
    cursor: pointer;
}

#header a:hover{
    color: #efc90a;
}

#header .active{
    color: #efc90a !important;
}

.align-items-center {
    align-items: center!important;
}

.d-flex {
    display: flex!important;
}

#header #logo img {
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}


.navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.navbar li {
    position: relative;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 24px;
    top: calc(100% + 30px);
    margin: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: rgb(255,255,255, 0.94);
    box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
    transition: 0.3s;
    color: #4d4d4d;
    margin-top: 10px;
    border-radius: 15px;
    padding: 20px;
    font-family: 'CarmenSansMedium';
}

.menu_accent span{
    color: #4d4d4d;
    font-family: 'CarmenSansSemiBold';
}

.menu_accent a{
    color: #4d4d4d;;
    font-family: 'CarmenSansSemiBold';
}

.navbar .dropdown ul:before {
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    margin: -30px 0 0 40px;
    border-bottom: 20px solid #fff;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #2dc997;
  }
  
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .dropdown li{
      margin-bottom: 8px;
  }
  
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }

  #hero {
    width: 100%;
    height: 115vh;
    background-position: top center;
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
  }
  

  .logoAccent{
      width: 200px;
  }

  #logo{
     margin-left: -180px;
  }

  a{
      color: #fff;
  }

  span{
      color: #fff;
  }

  .navbar{
      margin-right: -120px;
  }

  #header{
      border-bottom: 1px solid #fff;
      margin-left: 100px;
      margin-right: 100px;
      width: 91%;
  }

  section {
    overflow: hidden;
  }

  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(77, 77, 77, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile a{
    color: #666666 !important;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 18px;
    color: #666666;
}

.navbar-mobile > ul > li {
    padding: 0;
    margin-bottom: 25px;
}

#hero h2 {
    color: #eee;
    bottom: 22%;
    position: absolute;
    left: 50%;
    width: 40%;
    font-size: 24px;
    text-align: justify;
    font-size: 30px;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.banner_embajador{
    height: 135vh !important;
}

  @media (max-width: 991px){
        .mobile-nav-toggle {
            display: block;
        }

        .header-scrolled .mobile-nav-toggle{
            color: #82039A;
        }

        .navbar ul {
            display: none;
        }


        #header{
            margin: 0px;
            padding: 0px;
            width: 91%;
        }

        .align-items-center {
            align-items: center!important;
        }

        #logo{
            margin: 0px;
        }

        .navbar{
            margin: 0px;
        }
    }


.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 75px;
    right: 15px;
    bottom: 155px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    padding: 40px;
}



.navbar-mobile .dropdown ul {
    height: 150px;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 35px;
    right: 15px;
}

.banner button{
    position: absolute;
    bottom: 9%;
    background-color:#39b54a;
    border-radius: 60px;
    border: none;
    color: #fff;
    font-size: 35px;
    padding-top: 15px;
    padding-bottom: 19px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 10%);
}

.btn_info:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn_info:link,
.btn_info:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn_info:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn_info:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



.btn_info::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn_info::after {
    background-color: #fff;
}

.btn_info:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn_info {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}


#barra_menu a:hover{
    color: #efc90a;
    text-decoration: none;
}

#barra_menu span:hover{
    color: #efc90a;
    text-decoration: none;
    cursor: pointer;
}

.btn_info{
    font-family: 'CarmenSansSemiBold';
}

.bolder{
    font-family: 'CarmenSansHeavy';
}

#contenido-page{
    margin-top: 250px;
}

main{
    margin-top: -60px;
}

.title{
    text-align: center;
    color: #82039A;
}

.container-accent{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 15px;
    padding-right: 15px;
}

.card{
    height: 300px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    overflow: hidden
}

.card img{
    height: 300px;
    border-radius: 50px;
    transform:scale(1);
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
}

.card img:hover{
    transform:scale(1.4);
    -ms-transform:scale(1.4); 
    -moz-transform:scale(1.4); 
    -webkit-transform:scale(1.4); 
    -o-transform:scale(1.4);
}

.card2{
    height: 370px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.card2 img{
    height: 370px;
    border-radius: 50px;
    transform:scale(1);
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
}

.card2 img:hover{
    transform:scale(1.4);
    -ms-transform:scale(1.4); 
    -moz-transform:scale(1.4); 
    -webkit-transform:scale(1.4); 
    -o-transform:scale(1.4);
}


.portafolio{
    margin-top: 40px;
}

.col-md-4{
    width: 33.333333%;
    float: left;
}

.col-md-5{
    width: 41.666667%;
    float: left;
}

.col-md-6{
    width: 50%;
    float: left;
}

.social-links{
    margin-left: 55%;
}

.social-links a{
    margin-right: 7px;
    font-size: 25px;
}

#header.header-scrolled {
    background: rgba(255,255,255);
    height: 70px;
    transition: all 0.5s;
    color: #333;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 10%);
}

.header-scrolled a{
    color: #82039A !important;
    font-family: 'CarmenSansSemiBold';
}

.header-scrolled .active{
    color: #82039A;
}

.header-scrolled a:hover{
    color: #efc90a !important;
}

.header-scrolled img{
    content:url('../images/logoMorado.svg');
    
}

/* REDES SOCIALES */
#RedesSociales{
    margin-top: 20%;
}

#RedesSociales .tab-content{
    margin-top: 20px;
}

.tarjeta-card{
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 10%);
    height: 440px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.imagen_socialMedia{
    float: right;
    width: 530px;
    height: 440px;
    border-radius: 0px 40px 40px 0px;
    background-size: cover;
    background-position: center;
}

.txt_information {
    float: right;
    width: 340px;
}

.Contenedor{
    height: 440px;
}


.iLquPE {
    color: #82039A !important;
    width: 80px !important;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

.cJeRRR {
    background-color: #82039A !important;
    box-shadow: 0 0 1px 3px #82039A !important;
}

.logo_empresa{
    margin-top: 10%;
    width: 310px;
}

.socialmedia i{
    color: #fff;
    font-size: 18px;
    border-radius: 999px;
    background-color: #82039A;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
}
.socialmedia a{
    display: flex;
}
.socialmedia{
    display: flex;
    margin-top: 10px;
}

.CPV .socialmedia{
    width: 105%;
    max-width: 105%;
    margin-left: -15px;
}

.CPV .logo_empresa{
    width: 150px;
    margin: 0 auto;
    display: block;
}

.MovilPos .socialmedia{
    margin-left: -15px;
}

.MovilPos .txt_information{
    width: 350px;
}

.socialmedia span{
    font-size: 13px;
    color: #82039A;
    font-family: 'CarmenSansSemiBold';
    margin-left: 10px;
    margin-top: 5px;
}

.estadisticas{
    margin-top: 20px;
    margin-left: -5%;
    display: inline-block;
}

.estadisticas h2{
    color: #000;
    font-size: 35px;
    font-family: 'CarmenSansHeavy';
    text-align: center;
    margin-bottom: 0px;
}

.estadisticas span{
    color: #000;
    font-size: 35px;
    font-family: 'CarmenSansHeavy';
    text-align: center;
    margin-bottom: 0px;
}

.estadisticas p{
    color: #6D6A7D;
    font-size: 12px;
    text-align: center;
}

.Servicios i{
    color: #fff;
    font-size: 24px;
    border-radius: 999px;
    background-color: #82039A;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 40px;
}

.Servicios h4{
    color:#6D6A7D;
    font-family: 'CarmenSansSemiBold';
    font-size: 14px;
    text-align: center;
    margin-left: -5%;
    margin-bottom: -20px;
}

/*MODAL CSS */
.modal-main{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.contenedor-formulario{
    height: 500px;
    width: 500px;
    border-radius: 50px;
    background-color: white;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

.contenedor-formulario h4{
    text-align: center;
    color: #82039A;
}

.form-group input{
    border-radius: 30px;
    border:none;
    background-color: #E6E6E6;
    width: 100%;
    padding: 10px;
    height: 65px;
}

.contenedor-formulario form{
    margin-top: 60px;
    text-align: center;
}

.contenedor-formulario button{
    font-size: 15px;
    font-family: 'CarmenSansSemiBold';
    border: none;
    border-radius: 30px;
    background-color: #39b54a;
    color: #fff;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 210px;
    margin-top: 20px;
}

.error {
    color:#db2269;
    font-size: 0.845em;
    display: relative;
}

/*WHATSAPP*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
}

.whatsapp a:hover{
    color: #fff;
}

/*INFORMACION*/
.float-inf{
	position:fixed;
	width:60px;
	height:60px;
	bottom:120px;
	right:40px;
	background-color:#82039A;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
}

.info a:hover{
    color: #fff;
}

/* E-COMMERCE */
#Ecommerce{
    margin-top: 20%;
}

#cont{
    margin-top: 60px;
}

#Ecommerce .about-container{
    margin-top: 10px;
}

.Contenedor-page{
    height: 640px;
    background-position: top center;
    background-size: cover;
    border-radius: 50px;
}

.Contenedor-mobile{
    height: 250px;
    background-position: top center;
    background-size: cover;
    border-radius: 50px;
}

.tarjeta-img{
    height: 650px;
    border-radius: 50px;
    margin-top: -10%;
}

.lgksPe{
    color: #82039A !important;
    width: 80px !important;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

#contMobile{
    display: none;
}

/*EMBAJADORES*/
#Embajador{
    margin-top: 21%;
}

.tit-embj-ben{
    font-family: 'CarmenSansBold';
    float: left;
    font-size: 65px !important;
}

.tit-embj{
    font-family: 'CarmenSansBold';
    float: right;
    font-size: 60px !important;
}

.card-embj{
    margin-top: 0px;
    margin-bottom: 30px;
    background-color: rgb(102 45 145 / 10%);
    border-radius: 40px;
    height: 550px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.card-1{
    box-shadow: 0 10px 5px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    color: #fff;
    border-radius: 40px;
    padding-top: 7px;
    padding-right: 7px;
}

#second{
    margin-top: 6%;
}

#three{
    margin-top: 12%;
}

.icono{
    width: 100%;
    height: 350px;
}

.icono img{
    width: 250px;
    display: block;
    margin: 0 auto;
    padding-top: 40px;
}

.text-info h3{
    text-align: center;
    color: #82039A;
}

.text-info{
    padding-left: 65px;
    padding-right: 65px;
}

#Oportunidad .text-info{
    padding-left: 45px;
    padding-right: 45px;
}

.line{
    border-bottom:solid 1px #82039A;
    width:100%;
    height:50px;
}

.comentario{
    width: 60%;
    font-size: 35px;
}

#beneficios-embj{
    padding-left: 0px;
}

/*LOADER*/
.loader-page {
    position: fixed;
    z-index: 25000;
    background: rgb(0, 0, 0, 0.6);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.imagen{
    background-color: transparent !important; 
    width: 100% !important;

}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
}
100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
}
}
/*MOVILES*/


@media (min-width: 375px) and (max-width: 500px){

    #contMobile{
        display: block;
    }

    #cont{
        margin-top: 0px;
    }

    .banner_web{
        background-image: url(../images/banner/cell3.png) !important;
    }

    .banner_social{
        background-image: url(../images/banner/cell-redes.png) !important;
    }
    
    .banner-ecom{
        background-image: url(../images/banner/cell-ecommerce.png) !important;
    }

    .banner_embajador{
        background-image: url(../images/banner/cell-embajador.png) !important;
        height: 90vh !important;
    }
    

    .logoAccent {
        width: 150px;
    }

    #header{
        height: 80px;
        width: 100%;
    }

    .mobile-nav-toggle{
        margin-top: 15px;
    }


    .mobile-nav-toggle{
        height: 24px;
    }

    .social-links {
        margin-left: 0%;
    }

    .social-links a{
        color: #efc90a;
    }

    #hero{
       height: 80vh;
       margin-bottom: 60px;
    }

    #Embajador #hero{
        margin-bottom: 0px !important;
    }

    #Embajador #about{
        margin-top: -30%;
    }

    .banner button{
        font-size: 15px;
        bottom: 8%;
    }

    #Embajador .banner button{
        bottom: 25%;
    }

    #contMobile .diULVL{
        margin: 0px !important;
    }

    #hero h2{
        width: 80%;
        text-align: center;
        left: 10%;
        bottom: 20%;
    }

    h2{
        font-size: 16px !important;
    }

    .page-image{
        display: none;
    }

    .galrjd{
        height: 410px !important;

    }

    .hoBRNn{
        height: 410px !important;
   
    }

    .kPyZtq{
        height: 410px !important;

    }

    #cont .gbgfMs {
        height: 250px !important;
    }

    #contMobile .cukhLH{
        height: 300px;
    }
 
    #contMobile .galrjd{
        height: 300px !important;
    }

    .tarjeta-img{
        height: 280px !important;
        margin-top: 0%;
        padding: 0px;
    }

    .Contenedor-page {
        height: 280px;
    }

    .imagen_socialMedia{
        width: 100%;
        height: 150px;
        float: left;
        border-radius: 40px 40px 0px 0px;
    }

    .txt_information{
        width: 100%;
        padding-top: 10px;
        height: 215px;
    }

    .CPV .logo_empresa {
        width: 80px;
        margin-top: -10px;
    }

    .CPV .txt_information{
        padding-top: 0px;
    }

    .CPV .socialmedia span {
        font-size: 7px;
        margin-left: 1px;
    }
    
    .CPV{
        margin: 7px !important;
    }

    .logo_empresa {
        margin-top: 10%;
        width: 140px;
        margin: 0 auto;
        display: block;
    }

    .MovilPos .txt_information {
        width: 100%;
        padding-top: 0px;
    }

    .socialmedia i {
        color: #fff;
        font-size: 12px;
        border-radius: 999px;
        background-color: #82039A;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        margin-left: 8px;
    }

    .socialmedia{
        margin-top: 5px;
        padding-left: 35px;

    }

    .socialmedia span{
        font-size: 10px;
        margin-top: 0px;
    }

    .estadisticas{
        margin-top: 12px;
        margin-left: 0%;
    }

    .tarjeta-card{
        height: 380px;
        margin-top: 0px;
    }

    #RedesSociales .kPyZtq{
        margin-top: 0px;
    }

    .Contenedor{
        height: 380px;
    }


    .Servicios i {
        color: #fff;
        font-size: 14px;
        border-radius: 999px;
        background-color: #82039A;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-left: 15px;
    }

    .pagina1{
        background-image: url('../images/Ecommerce/Telefono/paginaTlf-1.png') !important;
    }

    
    .pagina2{
        background-image: url('../images/Ecommerce/Telefono/paginaTlf-2.png') !important;
    }

    .pagina3{
        background-image: url('../images/Ecommerce/Telefono/paginaTlf-3.png') !important;
    }

    .Servicios{
        display: inline;
        
    }

    .icon-serv{
        position: absolute;
        margin-top: -20px;
        left: 21%;
        
    }

    #cont .hoBRNn{
        height: 280px !important;
        margin: 0px !important;
    }

    #cont .cukhLH {
        margin: 0px !important;
    }

    #cont .galrjd{
        height: 300px !important;
    }

    .footer-bottom .social-links a {
        font-size: 25px !important;
        margin-left: 14px;
    }

    .footer h3{
        font-size: 20px;
    }
    
    .footer-bottom p{
        font-size: 16px;
    }

    #fila_footer{
        width: 100%;
    }

    #footer-det{
        padding-left: 0px;
        padding-right: 0px;
    }

    .contenedor-formulario {
        height: 400px;
        width: 300px;
        border-radius: 50px;
        background-color: white;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .form-group input {
        height: 45px;
    }

    .contenedor-formulario h4{
        font-size: 18px;
    }

    #phone-embj .col-md-4{
        width: 100% !important;
    }

    #phone-embj{
        padding-left: 0px;
        padding-right: 0px;
    }

    .tit-embj{
        font-size: 40px !important;
        float: none;
    }

    .tit-embj h2{
        text-align: center !important   ;
    }

    .icono img {
        width: 150px;
        padding-top: 20px;
    }

    .icono{
        height: 190px;
    }

    .text-info h3 {
        font-size: 18px;
    }

    .text-info {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    .card-embj{
        height: 340px;
        margin-bottom: 0px;
    }

    .line{
        height: 20px;
    }

    #second{
        margin-top: 8%;
    }

    .tit-embj-ben{
        font-size: 35px !important;
        margin-top: 80px;
        text-align: center;
        align-items: center;
        float: none;
    }

    .comentario{
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    #three{
        margin-bottom: 50px;
    }
}

@media (min-width: 320px) and (max-width: 374px){

    .banner_web{
        background-image: url(../images/banner/cell3.png) !important;
    }

    .banner_social{
        background-image: url(../images/banner/cell-redes.png) !important;
    }

    .banner-ecom{
        background-image: url(../images/banner/cell-ecommerce.png) !important;
    }
    
    .banner_embajador{
        background-image: url(../images/banner/cell-embajador.png) !important;
        height: 80vh !important;
    }


    #contMobile{
        display: block;
    }


    #header{
        width: 100%;
    }
    .mobile-nav-toggle{
        height: 24px;
    }

    .social-links {
        margin-left: 0%;
    }

    .social-links a{
        color: #efc90a;
    }

    #hero{
       height: 70vh;
    }

    .banner button{
        font-size: 15px;
    }

    #hero h2{
        width: 48%;
        text-align: center;
    }

    h2{
        font-size: 12px !important;
    }

    .estadisticas p {
        font-size: 8px;
    }

    .page-image{
        display: none;
    }

    .galrjd{
        height: 410px !important;

    }

    .hoBRNn{
        height: 410px !important;
   
    }

    .kPyZtq{
        height: 410px !important;

    }

    #contMobile .cukhLH{
        height: 300px;
    }
 
    #contMobile .galrjd{
        height: 300px !important;

    }

    .diULVL{
        margin: 0px !important;
    }

    .Contenedor-mobile {
        height: 210px;
    }

    .tarjeta-img{
        height: 250px !important;
        margin-top: 15%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .kPyZtq{
        margin: 0px !important;
    }

    .Contenedor-page {
        height: 220px;
    }

    .imagen_socialMedia{
        width: 100%;
        height: 150px;
        float: left;
        border-radius: 40px 40px 0px 0px;
    }

    .txt_information{
        width: 100%;
        padding-top: 10px;
        height: 215px;
    }

    .CPV .logo_empresa {
        width: 80px;
        margin-top: -10px;
    }

    .CPV .txt_information{
        padding-top: 0px;
    }

    .CPV .socialmedia span {
        font-size: 7px;
    }

    .logo_empresa {
        margin-top: 10%;
        width: 140px;
        margin: 0 auto;
        display: block;
    }

    .MovilPos .txt_information {
        width: 100%;
        padding-top: 0px;
    }

    .socialmedia i {
        color: #fff;
        font-size: 10px;
        border-radius: 999px;
        background-color: #82039A;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        margin-left: 8px;
    }

    .MovilPos .socialmedia i{
        width: 20px;
        padding: 5px;
        height: 20px;
        line-height: 10px;
    }

    .MovilPos .socialmedia span {
        font-size: 10px;
        margin-left: 3px;
        margin-top: 5px;
    }

    .CPV .socialmedia {
        margin-left: 0px;
    }

    .CPV .socialmedia i{
        width: 20px;
        padding: 5px;
        height: 20px;
        line-height: 10px;
    }

    .ReparaTuPunto .socialmedia i{
        width: 20px;
        padding: 5px;
        height: 20px;
        line-height: 10px;
    }

    .ReparaTuPunto .socialmedia span {
        font-size: 8px;
    }

    .socialmedia{
        margin-top: 5px;
        padding-left: 10px;

    }

    .socialmedia span{
        font-size: 10px;
        margin-top: 0px;
    }

    .estadisticas{
        margin-top: 12px;
        margin-left: 0%;
    }

    .tarjeta-card{
        height: 370px;
    }

    .Contenedor{
        height: 370px;
    }


    .Servicios i {
        color: #fff;
        font-size: 14px;
        border-radius: 999px;
        background-color: #82039A;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-left: 15px;
    }

    .Servicios{
        display: inline;
        
    }

    .icon-serv{
        position: absolute;
        margin-top: -20px;
        left: 14%;
        
    }

    #cont .hoBRNn{
        height: 270px !important;
        margin: 0px !important;
    }

    #cont .galrjd {
        height: 270px !important;
    }

    .footer-bottom .social-links a {
        font-size: 25px !important;
        margin-left: 14px;
    }

    .footer h3{
        font-size: 18px;
    }

    .footer h4{
        font-size: 15px;
    }

    .footer span{
        font-size: 13px;
    }
    
    .footer-bottom p{
        font-size: 14px;
    }

    #fila_footer{
        width: 100%;
    }

    #footer-det{
        padding-left: 0px;
        padding-right: 0px;
    }

    .contenedor-formulario {
        height: 400px;
        width: 300px;
        border-radius: 50px;
        background-color: white;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .form-group input {
        height: 45px;
    }

    .contenedor-formulario h4{
        font-size: 18px;
    }

    #phone-embj .col-md-4{
        width: 100% !important;
    }

    #phone-embj{
        padding-left: 0px;
        padding-right: 0px;
    }

    .tit-embj{
        font-size: 40px !important;
        float: none;
    }

    .tit-embj h2{
        text-align: center !important   ;
    }

    .icono img {
        width: 150px;
        padding-top: 20px;
    }

    .icono{
        height: 190px;
    }

    .text-info h3 {
        font-size: 16px;
    }

    .text-info {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    #Empresarial .text-info h3{
        font-size: 13px !important;
    }

    .card-embj{
        height: 320px;
        margin-bottom: 0px;
    }

    .line{
        height: 20px;
    }

    #second{
        margin-top: 15%;
    }

    .tit-embj-ben{
        font-size: 28px !important;
        margin-top: 80px;
        text-align: center;
        align-items: center;
    }

    .comentario{
        font-size: 16px;
        width: 100%;
        text-align: center;
    }


}



@media (min-width: 768px) and (max-width: 800px){
    .imagen_socialMedia {
        width: 250px !important;
        height: 350px !important;
    }

    .txt_information{
        width: 255px;
    }

    .logo_empresa {
        width: 200px !important;
        margin: 0 auto;
        display: block;
        margin-top: 8%;
    }

    .estadisticas h2 {
        font-size: 25px;
    }

    .Servicios i {
        margin-left: 20px;
    }

    .tarjeta-card {
        height: 350px;
    }

    .MovilPos .txt_information {
        width: 255px !important;
    }

    .CPV .logo_empresa {
        width: 90px !important;
        margin: 0 auto;
        display: block;
    }

    
    #phone-embj .col-md-4{
        width: 100% !important;
    }

    #phone-embj{
        padding-left: 0px;
        padding-right: 0px;
    }

    .tit-embj{
        font-size: 40px !important;
        float: none;
    }

    .tit-embj h2{
        text-align: center !important   ;
    }

    .icono img {
        width: 150px;
        padding-top: 20px;
        
    }

    #Ingresos .icono img{
        padding-left: 10px;
    }

    .icono{
        height: 160px;
    }

    .text-info h3 {
        font-size: 18px !important;
    }
    
    .card-embj {
        height: 300px !important;
    }

    .line{
        display: none;
    }

    .text-info {
        padding-left: 25px;
        padding-right: 25px;
    }

    #Oportunidad .text-info h3{
        font-size: 16px !important;
    }

    #Empresarial .text-info h3{
        font-size: 16px !important;
    }

    #Oportunidad .text-info{
        padding-left: 2px;
        padding-right: 2px;
    }

    #Empresarial .text-info{
        padding-left: 2px;
        padding-right: 2px;
    }


    .card-embj{
        height: 320px;
        margin-bottom: 0px;
    }

    .line{
        height: 20px;
    }

    #second{
        margin-top: 7%;
    }

    .tit-embj-ben{
        font-size: 35px !important;
        margin-top: 80px;
        text-align: center;
        align-items: center;
    }

    .comentario{
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    #header{
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .line{
        display: none;
    }
    .banner_web{
        background-image: url(../images/banner/tablet/table-web.png) !important;
    }

    .banner_social{
        background-image: url(../images/banner/tablet/table-red.png) !important;
    }

    .banner-ecom{
        background-image: url(../images/banner/tablet/table-banner1.png) !important;
    }

    .banner_embajador{
        background-image: url(../images/banner/tablet/table-embajador.png) !important;
    }

    .banner_embajador {
        height: 65vh !important;
    }

    #logo{
        margin: 0px;
    }

    .navbar{
        margin: 0px;
    }

    .social-links {
        margin-left: 10%;
    }

    #hero {
        height: 60vh;
    }

    #hero h2{
        font-size: 20px !important;
        bottom: 32%;
    }

    .banner button{
        bottom: 15%;
    }

    .card img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
    .card{
        height: auto;
    }

    .card2 img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .card2{
        height: auto;
    }

    .imagen_socialMedia {
        width: 350px;
    }

    .footer{
        height:70vh;
    }

    #phone-embj{
        padding-left: 0px;
        padding-right: 0px;
    }

    .tit-embj{
        font-size: 40px !important;
        float: none;
    }

    .tit-embj h2{
        text-align: center !important   ;
    }

    .icono img {
        width: 150px;
        padding-top: 20px;
        
    }

    #Ingresos .icono img{
        padding-left: 10px;
    }

    .icono{
        height: 160px;
    }

    .text-info h3 {
        font-size: 24px;
    }

    .text-info {
        padding-left: 10px;
        padding-right: 10px;
    }

    #Oportunidad .text-info h3{
        font-size: 24px;
    }

    #Empresarial .text-info h3{
        font-size: 24px;
    }

    #Oportunidad .text-info{
        padding-left: 10px;
        padding-right: 10px;
    }

    #Empresarial .text-info{
        padding-left: 10px;
        padding-right: 10px;
    }

    .card-embj {
        height: 420px;
    }
}

@keyframes loader {
	0%, 10%, 100% {
		width: 80px;
		height: 80px;
	}
	65% {
		width: 150px;
		height: 150px;
	}
}
@keyframes loaderBlock {
	0%, 30% {
		transform: rotate(0);
	}
	55% {
		background-color: #5494f9;
	}
	100% {
		transform: rotate(90deg);

	}
}
@keyframes loaderBlockInverse {
	0%, 20% {
		transform: rotate(0);
	}
	55% {
		background-color: #5494f9;
	}
	100% {
		transform: rotate(-90deg);
	}
}



